* {
    margin: 0;
   padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

.logo{
  width: 7rem;
}

.rounded{
  border-radius: 100px !important;
}

.card-img-overlay{
  padding-top: 15%;
  border-radius: 40px;
}

.category{
  max-height: 300px;
  border-style: none;
  filter: grayscale(100%);
  transition: all .2s ease-in-out;
  object-fit: cover;
}

.categoryImg{
  height: 220px;
  max-width: 100%;
}

.container{
  padding: 0 !important;
}

.category:hover{
  box-shadow: 0 5px 5px 0 rgba(46,61,73,0.30);
  filter: grayscale(0%);
  transform: scale(1.05);
}

.categoryTitle{
  font-size: 3rem;
}

.movieCard{
  border-style: none;
  box-shadow: 0 5px 5px 0 rgba(46,61,73,0.30);
  transition: all .2s ease-in-out;
  min-width: 5rem;
  max-width: 25rem;
  min-height: 18rem;
  margin: 5px 15px 15px 0;
}

.movieCard:hover{
  transform: scale(1.05);
}


@media only screen and (max-width: 320px) {
  .categoryTitle{
    font-size: 1rem;
  }
}
